.main{
    background: #fffbfa;
    padding: 30px;
    margin: 50px auto;
    max-width: 500px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.main h1{
    font-size:2.5rem;
    text-align: center
}


.form{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="text"]{
    font-weight: 100;
    height: 40px;
    padding: 0 20px;
    font-size: 20px;
    border: 1px solid black;
    min-width: 80%;
}

.form button[type="submit"]{
    border: none;
    height: 40px;
    width: 40px;
    background: rgb(251, 75, 78);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tasks{
    margin-top: 30px;
}

.tasks li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    transition: all 300ms;

    border-bottom: 1px solid #666666;
}

.tasks li span{
    display: flex;
    align-items: center
}

.tasks li:hover{
    background: #c1cfda
}

.tasks li .edit, .trash{
    margin-right: 15px;
}

.tasks li .edit, .tasks li .trash{
    cursor: pointer;
    transition: all 200ms;
}

.tasks li .edit:hover{
    color: #18CC7E
}
.tasks li .trash:hover{
    color: #ff5714
}


.teste{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}